/*
Theme Name: TheTheme
Author: Jonathan
Author URI: http://nothing.not
Version: 1.0
*/

body {
	font-family: Arial, sans-serif;
	font-size : 14px;
	color: #333;
}

a:link,
a:visited {
	color:#006ec3;
}

p {
	line-height: 1.65em;
}

/* General Layout */
div.container {
	max-width: 920px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

article.post:last-of-type {
	border-bottom: none;
}

article.post {
	border-bottom: 2px dotted #bbbbbb;
}

/* Header */
.site-header {
	border-bottom: 1px solid #999;
}
/* Footer */
.site-footer {
	margin-top: 30px;
	border-top: 1px solid #999;
}

/* Navigation Menus */
.site-nav ul {
	margin: 0;
	padding: 0;
}
.site-nav ul:before, .site-nav ul:after { content: ""; display: table; }
.site-nav ul:after { clear: both; }
.site-nav ul { *zoom: 1; }

.site-nav ul li {
	list-style: none;
	float: left;
}

/* Site Header Menu */
.site-header nav ul li {
	margin-right: 5px;
}

.site-header nav ul li a:link,
.site-header nav ul li a:visited {
	display: block;
	padding: 10px 18px;
	border: 1px solid #bbb;
	border-bottom: none;
	text-decoration: none;
}

.site-header nav ul li a:hover {
	background-color: #ececec;
}

.site-header nav ul li.current-menu-item a:link,
.site-header nav ul li.current-menu-item a:visited,
.site-header nav ul li.current-page-ancestor a:link,
.site-header nav ul li.current-page-ancestor a:visited {
	background-color: #005ec3;
	color: #fff;
}

/* Footer Menu */
.site-footer nav {
	margin: 30px 0 10px 0;
}

.site-footer nav ul li {
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #ddd;
}

.site-footer nav ul li:last-of-type {
	border-right: none;
}

/* Page Layout */
article.page h2 {
	font-size: 225%;
	margin-bottom: 15px;
}

/* Clearfix */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* Two Column Title Layout */
div.title-column {
	width: 30%;
	float: left;
}

div.text-column {
	width: 70%;
	float: right;
}

/* Info Box Styles */
div.info-box {
	width: 30%;
	float: right;
	margin: 0 0 30px 30px;
	padding: 20px;
	background-color: #eee;
}

div.info-box h4 {
	margin-bottom: 6px;
}

div.info-box p {
	font-size: 85%;
}

/* Children Links */
.children-links {
	margin-bottom: 20px;
	font-size: 80%;
}

.children-links a:link,
.children-links a:visited {
	text-decoration: none;
}

.children-links ul {
	float: left;
}

.children-links li {
	margin-right: 20px
}

.children-links .parent-link{
	float: left;
	margin-right: 20px;
	padding-right: 20px;
	border-right: 1px solid #ddd;
	font-size: 120%;
	font-weight: bold;
}

.children-links .parent-link a:link,
.children-links .parent-link a:visited {
	color: #333;
}

.children-links .current_page_item a:link,
.children-links .current_page_item a:visited {
	border-bottom: 1px solid #ddd;
	color: #333;
	cursor: default;
}

/* Post Styles */
.post h2 {
	margin-bottom: 0;
}

p.post-info {
	font-size: 87%;
	color: #999;
}

p.post-info a:link,
p.post-info a:visited {
	color: #999;
}

/* Image Styles */
img {
	max-width: 100%;
	height: auto;
}

.has-thumbnail {
	position: relative;
	padding-left: 200px;
}

.post-thumbnail {
	position: absolute;
	top: 0;
	left: 0;
}

/* Search Form */
div.hd-search {
	float: right;
}

div.hd-search span {
	position: absolute;
	left: -9999px;
}

div.hd-search .search-submit {
	background-color: #006ec3;
	color: #fff;
	padding: 5px 14px;
	border: none;
	vertical-align: top;
}

div.hd-search .search-field {
	vertical-align: top;
	padding: 3px 0;
}

/* Aside Styles */
article.post-aside,
article.post-link {
	font-size: 12px;
	background-color: #fff5cb;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
}

.mini-meta {
	font-size: 68%;
	margin: 0;
	color: #777; 
}

/* Link Post format styles */
article.post-link {
	padding: 0;
	background: #e0ebff;
}

article.post-link a {
	display: block;
	padding: 20px;

}

/* Post Format Gallery Styles */
article.post-gallery {
	background-color: #222;
	color: #fff;
	padding: 20px;
}

article.post-gallery img {
	border: none !important;
}

article.post-gallery h2 {
	text-align: center;
}

/* Main Column */
.main-column {
 width: 66%;
 float: left;
}

/* Side Column */
.secondary-column {
	width: 30%;
	float: right;
}

/* Footer Widget Area */
.footer-widget-area {
	width: 25%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}

/* Post Columns */
.home-columns {
	padding-top: 30px;
}

.one-half {
	width: 45%;
	float: left;
	margin-right: 10%;
}

.last {
	margin-right: 0;
}